/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%;
	 font: inherit; */
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* index.html styles */

:root {

    --width-mbl: 0375px;
    --width-dkt: 1440px;

    /* Primary Colors */

    --color-gcyan: rgb(060, 128, 103);
    --color-dcyan: rgb(038, 080, 064);
    --color-cream: rgb(242, 235, 227);
    
    /* Neutral Colors */
    
    --color-dblue: rgb(028, 035, 043);
    --color-gblue: rgb(108, 114, 137);
    --color-white: rgb(255, 255, 255);

}

body {
    display: grid;
    align-items: center;
    justify-items: center;

    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-cream);
}

.preview-product {
    max-width: 700px;

    margin: 50px 0;

    display: grid;
    align-items: center;
    grid-template: 1fr / repeat(2, 1fr);

    overflow: hidden;
    border-radius: 20px;
    background-color: var(--color-white);
}

.preview-product .preview img {
    max-width: 100%;
}

.preview-product .product {
    display: grid;
    align-self: stretch;
    align-items: center;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);

    padding: 30px;
}

.section {
    font-size: 10px;
    letter-spacing: 10px;
    color: var(--color-gblue);
}

.handle {
    font-size: 35px;
    line-height: 1em;
    color: var(--color-dblue);
    font-family: 'Fraunces', serif;
}

.detail {
    line-height: 1.5em;
    color: var(--color-gblue);
}

.price {
    display: grid;
    align-items: center;
    grid-template: 1fr / repeat(2, 1fr);
}

.current {
    font-size: 35px;
    color: var(--color-gcyan);
    font-family: 'Fraunces', serif;
}

.previous {
    padding-left: 15px;
    color: var(--color-gblue);
    text-decoration: line-through;
}

.purchase {
    display: flex;
    align-self: end;
    justify-content: center;

    border: none;
    padding: 15px 0;
    border-radius: 12px;
    
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    
    color: var(--color-white);
    background-color: var(--color-gcyan);
    transition: background-color .5s ease;

}

.purchase:hover {
    background-color: var(--color-dcyan)
}

.purchase .cart {
    padding-right: 10px;
}

@media only screen and (max-width: 700px) {
    .preview-product {
        margin: 50px;
        grid-template-columns: 1fr;
    }

    .preview-product .product {
        display: block;
    }

    .preview-product .product .section, .handle, .detail, .price {
        padding-bottom: 25px;
    }
}

